:root {
  --pink: #322ff4;
  --bg: #0c1022;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bc.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h3
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}
.img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.hero h1 {
  font-weight: bold;
  font-family: "poppons", sans-serif;
 font-size: 6rem;
 margin-bottom: 1rem;
 text-transform: uppercase;
 text-align: center;
 background: linear-gradient(to right, #322ff4, #8f68ff, #487bff,
 #8f68ff, #7277ff);
 background-size: 200%;
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
  
.hero .container h3{
  position: relative;
  font-weight: 900;
  font-size: 1.1rem;
  font-family: "poppons", sans-serif;
 text-align: center;
 align-items: center;
 margin-right: 70%;
  color: #fff;
 border-radius: 20px;
 padding: 10px;
 background: rgba(255, 255, 255, 0.1);
 box-shadow: 0 25px 45px rgba(0,0,0,1.1);
}
.hero .container h3 span {
  color: #ff022c;
}



.hero h4 {
  position: relative;
  font-size: 1.6rem;
  font-family: fantasy;
  color: #f5f5f8;
  text-shadow: 0 1px 1px black;
  
}


.hero h2 {
  font-size: 1.4rem;
  position: relative;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent , #0004);
  line-height: 0.70em;
  outline: none;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color:#0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
    color: #fff;
    text-shadow:  0 0 10px #03bcf4,
                 0 0 20px #03bcf4,
                 0 0 40px #03bcf4,
                 0 0 80px #03bcf4,
                 0 0 160px #03bcf4;
    
  }

  }


.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.home {
  background-image: url(img/bg2.jpg);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}
.info {
 background: #ffff;
}
.info .alamat {
  font-family: "poppons", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to right, #322ff4, #8f68ff, #487bff,
  #8f68ff, #fc72ff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
 }
 @keyframes animate-gradient {
   to {
     background-position: 200%;
   }
 }

.home h3 {
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #666;
}
.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Sacramento";
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--pink);
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #b0abab;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}
.gifts p {
  text-transform: uppercase;
  color: #1eedf8;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}
.gifts p2 {
  font-size: 1.4rem;
  position: relative;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent , #0004);
  line-height: 0.70em;
  outline: none;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color:#0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
    color: #fff;
    text-shadow:  0 0 10px #03bcf4,
                 0 0 20px #03bcf4,
                 0 0 40px #03bcf4,
                 0 0 80px #03bcf4,
                 0 0 160px #03bcf4;
    
  }

  }
.gifts input {
  outline: none;
  border-radius: 10px;
  border: 2px solid #01fcfc;
  background: transparent;
  transition: 0.1s ease;
}
.dana-id {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#01fcfc;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
}
.fw-bold {
 font-family: "poppons", sans-serif;
 font-size: 1rem;
 margin-bottom: 1rem;
 text-transform: uppercase;
 text-align: center;
 background: linear-gradient(to right, #322ff4, #8f68ff, #487bff,
 #8f68ff, #fc72ff);
 background-size: 200%;
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
.toolcliptext {
  font-size: 0.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
}
::placeholder{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px;
  position: relative;
  color: #b0abab;
}
.btn-copy {
  background: transparent;
  border-radius: 10px;
  border: 2px solid #01fcfc;
  color: #b0abab;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}
.card .input {
  float: left;
  width: 90%;
  border: 1px solid #63b4b8;
  padding: 12px 12px;
  outline: none;
  color:  #aba7a7;
  font-size: 18px;
  border-radius: 5px 5px;
  box-sizing: border-box;
}



.card .toolcliptext {
 /* visibility: hidden; */
  background-color: #ffb319;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 18px;
}

.card .toolcliptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.btn-copy:hover .toolcliptext {
  visibility: visible;
  opacity: 1;
}
.list-group{
  color: aqua;
   /**
   * Contact
   */
}
.Contact .container {
  height: 100%;
  position: relative;
  background: #0C2340;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid  #0C2340;
  box-shadow: 0 8px 32px 0  #0C2340;
  width: 100%;
  position: relative;
  border:1px solid #fff;
  border: none;
}
.Contact .container::after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0C2340;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.Contact .container::before {
  content: "";
 background: linear-gradient(
    45deg,
     
    #00ffd5, #ff0000, #ff00c8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}
@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position:400% 0;}
  100% {background-position: 0 0;}
}

.Contact .container:hover::before {
  opacity: 1;
}


.Contact .heading {
  margin-top: 20px;
  text-align: center;
  font-family: "poppons", sans-serif;
  font-size: 1.5em;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to right, #322ff4, #8f68ff, #487bff,
  #8f68ff, #fc72ff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
 }
 @keyframes animate-gradient {
   to {
     background-position: 200%;
   }
}
form {
  display: center;
  flex-direction: column;
  margin: 20px
}
.entryarea {
  position: relative;
  height: 60px;
  line-height: 60px;
  margin: 12px 0;
}
.entryarea input,
.entryarea textarea{
  outline: none;
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 1.2em;
  line-height: 20px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  padding-right: 5em;
  background: transparent;
  color: #fff;
}
.entryarea input:focus,
.entryarea input:valid {
  font-size: 1.23em;
  color: #fff;
  border: 3px solid #3794ff;
}
.entryarea textarea:focus,
.entryarea textarea:valid {
  font-size: 1.23em;
  color: #FFF;
  border: 3px solid #3794ff;
}
.entryarea input:focus + .labelline,
.entryarea input:valid + .labelline,
.entryarea textarea:focus + .labelline,
.entryarea textarea:valid + .labelline {
  color: #0CCCCf;
  transform: translate(-8px,-15px) scale(0.88);
  height: 30px;
  line-height: 30px;
  z-index: 1111;
}
.entryarea .uil {
  position: absolute;
  right: 30px;
  font-size: 1.8em;
  z-index: 11;
  color:#007791
}
.entryarea textarea {
  line-height: 20px;
  height: 80px;
  padding: 20px;
  font-size: 1em;
  resize: vertical;
}


.Contact textarea,
.Contact input {
padding-bottom: 10px;
left: 0;
position: absolute;
border: 1px solid #007791;
border-radius: 10px;
transition: 0.2 ease;

}
.entryarea .labelline {
  position: absolute;
  font-size: 1.3em;
  color: #007791;
  padding: 0 1px;
  margin: 0 20px;
  background:#0C2340;
  transition: 0.2s ease;
}
.Contact .btn {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: bold;
  padding: 12px 45px;
  color: lightskyblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  background: linear-gradient(145deg, #ff0077, #7a00ff);
  box-shadow: 2px 2px 0 #5a0055, 3px 3px 5px #555;
  transition: all 0.2s ease-in-out;
}
.Contact .btn::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(145deg, #ff3385, #8a00e0);
  border-radius: 8px;
  z-index: -1;
  box-shadow: inset 0px 0px 5px rgba(255, 255, 0.7);
}
.Contact .btn:hover {
  transform: translateY(-1px);
}
.Contact .btn:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 0  #5a0055, 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.Contact .btn .fa-regular {
  color: lightseagreen;
  font-size: 25px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
/**
   * Contact-End
   */

   /**
   * info */
   .container h7 {
    position: relative;
    font-family: poppins, sans-serif;
    font-size: 2em;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    top: 50px;
   
  }
   .container h7 span {
    color: #ff022c;
   }
   .container .box a1 {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     position: relative;
     color: #ffffff; 
     font-size: 1.8rem;
   }
  .Sosial .container h5 {
    text-align: center;
    position: relative;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     position: relative;
     color:#ffff;
     
   }
   .container  a2 {
    text-align: center;
    position: relative;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     position: relative;
     color: #b0abab; 
     
   }
   
   
   .container h4 {
    text-align: center;
     position: relative;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 2rem;
     color: #028f8f;
     margin: 0;
     padding: 0;
     font-weight: bold;
     
   }
   
   .container .box {
    font-family: 'poppins', sans-serif;
     position: relative;
     background: rgba(0, 0, 0, 0.75);
     top: 80px;
     height: 400px;
     width: 300px;
     justify-content: center;
     text-align: center;
     align-items: center;
     border-radius: 20px;
     display: flex; 
     overflow: hidden;
   }
   .box::after {
    content: "";
    position: absolute;
    width:500px;
    height: 500px;
    background: linear-gradient(transparent, transparent, #9900ff, #ff00a6);
    animation: rotate 6s linear infinite;
    animation-delay: -3s;
   }
   .box::before {
    content: "";
    position: absolute;
    width:500px;
    height: 500px;
    background: linear-gradient(transparent, transparent, #004fff, #45f3ff);
    animation: animate 6s linear infinite;
   }
   .container .box .content {
    color: #000;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 20px;
   }
   .container .box .content img {
    margin-bottom: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
   }
   .container .box .content h3 {
    position: relative;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    top: 10px;
   }
   .container .box .content h6 {
    font-weight: bold;
    margin-top: -5px;
    color: gray;
    font-size: 0.9rem;
    text-transform: uppercase;
   }
   .container .box .content hr {
    position: relative;
    bottom: 10px;
    width: 70px;
    height: 3px;
    background: #a2a2a258;
    margin-top: -5px;
   }
   .container .box .content p { 
    position: relative;
    font-family: monospace;
    color: rgb(221, 221, 221);
    text-align: center;
    font-size: 0.9rem;
   }
   .container .box .content a {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #9900ff, #ff00a6);
    border-radius: 50px;
    padding: 5px 15px;
   }
   

    /**
   * info end*/
.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: #f5f5f5;
}

.rsvp {
  background-color: var(--bg);
}

.rsvp h2 {
  font-size: 4.5rem;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}

.rsvp button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid white;
}

footer {
  padding: 3rem;
  background-color: var(--pink);
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}
footer p {
 font-family: 'poppins';
  font-size: 15px;
  color: #a2a7a5;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
/**
   * Wrapper
   */
    
    
  
   
   .Sosial .container {
    padding: 50px;
    position: relative;
    z-index: 1000;
    margin-top: 200px;
    border-radius: 20px;
    min-height: 30vh;
    padding: 10px;
    height: 40%;
    width: 40%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden;
    backdrop-filter: blur(25px);
   }
    .Sosial .container::before {
      content: '';
      position: absolute;
      top: 0;
      left: -40%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      pointer-events: none;
      transform: skew(-20deg);
    }
    
   .Sosial .icon {
    position: relative;
    background: #ffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10x rgba(0, 0, 0, 0.1);
    cursor: pointer;
    top: 10px;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
   }
   .Sosial .name {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   }
  .Sosial .name::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   }
    .Sosial .icon:hover .name {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
   }
   .Sosial  .icon:hover span,
   .Sosial  .icon:hover .name {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
   }
   .Sosial .facebook:hover,
   .Sosial .facebook:hover .name,
   .Sosial .facebook:hover .name::before {
    background: #1877f2;
    color: #ffffff;
   }
   .Sosial .instagram.hover .name::before {
    background: #ffa724;
    color: #ffffff;
   }
   .Sosial  .instagram:hover,
   .Sosial .instagram:hover .name {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
    );
   }
   .Sosial .github:hover,
   .Sosial .github:hover .name,
   .Sosial .github:hover .name::before {
    background: #333333;
    color: #ffffff;
   }
   .Sosial  .youtube:hover,
   .Sosial  .youtube:hover .name,
   .Sosial .youtube:hover .name::before {
    background: #cd201f;
    color: #ffffff;
   }
   .Sosial .tiktok:hover,
   .Sosial  .tiktok:hover .name,
   .Sosial  .tiktok:hover .name::before {
    background: #333333;
    color: #ffffff;
   }
   .Sosial .whatsapp:hover,
   .Sosial .whatsapp:hover .name,
   .Sosial .whatsapp:hover .name::before {
    background: #25d366;
    color: #ffffff;
   }
   .Sosial  i {
    color: #0e045d;
   }
   .Sosial  i:hover {
    color: #ffffff;
   }

 /**
   * Wrapper-End
   */
s

 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Query */
/* Extra large */
@media (max-width: 1200px) {
  .home .heart .Sosial {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
    
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}
